[Desktop Entry]
Name=MMcK Launcher
Comment=A modern Launcher!

Type=Service
Icon=start-here-kde
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-Provides=org.kde.plasma.launchermenu

X-KDE-PluginInfo-Author=Friedrich Schriewer
X-KDE-PluginInfo-Email=friedrich.schriewer@gmx.net
X-KDE-PluginInfo-Name=com.github.SnoutBug.mmckLauncher
X-KDE-PluginInfo-Version=0.6
X-KDE-PluginInfo-Website=https://github.com/SnoutBug/plasmoid-mmckLauncher
X-KDE-PluginInfo-Category=Application Launchers
X-KDE-PluginInfo-EnabledByDefault=true
